* {
    font-family: $defaultFont;
}

h2 {
    font-family: $titleFont;
}

#add-box__note-title {
    width: 10rem;
    margin-bottom: 5%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #f9f9fb;
    color: #f9f9fb;
}

#add-box__note-input {
    width: 15rem;
    height: 5rem;
    margin-bottom: 5%;
    background-color: transparent;
    border: 2px dashed #f9f9fb;
    border-radius: 8px;
    overflow-y: scroll;
    color: #f9f9fb;
}

.add-box__title {
    font-family: $titleFont;
    font-weight: normal;
    font-style: normal;
    font-size: 3rem;
    color: #f9f9fb;
}

#add-box__button {
    width: 40px;
    height: 40px;
    margin: auto 0 auto auto;
    display: flex;
    background: $header_background;
    border-radius: 50px;
    border: none;
    grid-area: btn;
}

.btn__link {
    margin: auto;
}

#notes {
    width: 100%;
    grid-area: notes;
    overflow: scroll;
}

.submit {
    height: 2rem;
    background: #f9f9fb;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    color: #7d7987;
}

#notes-box__button_clear {
    width: 7rem;
    margin: 2% 5% 0 auto;
}

.submit {
    width: 5rem;
    margin-left: auto;
}

.modal {
    position: fixed;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    transition: 0.2s ease-in;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal:target {
    opacity: 1;
    top: 0;
    pointer-events: auto;
}

.modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    margin: 10% auto;
    border: none;
    border-right: 1px solid rgba(255, 255, 255, 0.192);
    border-bottom: 1px solid rgba(255, 255, 255, 0.192);
    padding: 2rem;
    border-radius: 5px;
    background: $header_background;
}

.note-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.note-title,
.note-text,
.note-delete {
    margin-right: 15px;
    color: $text_color;
}

.note-title {
    font-weight: 700;
    color: $header_background
}