.todo_container__header {
    grid-area: header;
}

.todo_box {
    overflow: scroll;
    grid-area: cont;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-check {
    margin: auto 0;
}

.todo {
    margin: 5px auto;
    background: white;
    color: #000000;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    padding: 0.3rem;
    justify-content: space-between;
}

.todo-name {
    border: none;
    border-bottom: 1px solid #7d7987;
}

.todo-item {
    flex: 1;
    margin-left: 10px;
}

.todo__form {
    align-self: center;
    grid-area: form;
}