//  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Playfair+Display&display=swap');

@font-face {
    font-family: 'Nunito';
    font-weight: 400;
    src: url('../../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 300;
    src: url('../../fonts/Nunito/Nunito-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 700;
    src: url('../../fonts/Nunito/Nunito-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Serif Display';
    font-weight: 400;
    src: url('../../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype');
}

$defaultFont: 'Nunito',
sans-serif;
$titleFont: 'DM Serif Display',
serif;

$body_background: rgb(255, 240, 223);
$header_background: rgb(245, 182, 24);
$block_background: rgb(255, 255, 254);

$text_color: rgb(31, 31, 31);