@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Playfair+Display&display=swap');
$defaultFont: "Mulish",
sans-serif;
$titleFont: "Playfair Display",
serif;

$body_background: rgb(255, 240, 223);
$header_background: rgb(245, 182, 24);
;
$block_background: rgb(255, 255, 254);

$text_color: rgb(31, 31, 31);