@import "./blocks/variables";
@import "./blocks/notes";
@import "./blocks/habits";
@import "./blocks/todo";

* {
    font-family: $defaultFont;
    font-weight: 300;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0;

    background-color: $body_background;
    color: $text_color;
}

h2 {
    font-family: $titleFont;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: $text_color;
}

button,
a,
.delete-btn,
.note-delete {
    cursor: pointer;
}

.header_container {
    text-align: center;
    padding: 2em 0 2em 0;

    background-color: $header_background;
}

.header_container__item {
    margin: 0 1% 0 1%;
    padding: 10px;

    background-color: $block_background;
    border-radius: 10px;
}

#start {
    height: 200px;
    text-align: center;
    display: none;
    font-size: 3rem;
    color: $header_background;
}

#dashboard {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 5vh 40vh 40vh 10vh 10vh;
    grid-template-areas:
        "date date"
        "todo notes"
        "deadlines deadlines"
        "habits habits";
}

#date-container {
    grid-area: date;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $block_background;

    font-size: 160%;
    font-weight: 500;
}

@media (max-width: 800px) {
    #dashboard {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5vh 30vh 30vh 30fr 10fr;
        grid-template-areas:
            "date date"
            "todo todo"
            "notes notes"
            "deadlines deadlines"
            "habits habits";
    }
}

.container {
    border-radius: 20px;
    margin: 1em;
    padding: 0 1em 0 1em;

    background-color: $block_background;
}

.calendar_container {
    grid-area: calendar;
    padding: 1em;
}

#menu {
    display: inline;
}

.calendar_container__header {
    display: inline;
}

.tui-full-calendar-container {
    width: 80vw;
}

.tui-full-calendar-dayname-leftmargin {
    display: flex;
    flex-direction: row;
}

.tui-full-calendar-dayname-container {
    height: 10vh;
    cursor: pointer;
}

.todo_container {
    grid-area: todo;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        'header form'
        'header cont';
}

.notes_container {
    grid-area: notes;
    display: grid;
    grid-template-areas:
        'title btn'
        'notes notes';
}

.grafic_container {
    grid-area: grafic;
}

.deadlines_container {
    height: 500px;
    grid-area: deadlines;
}

.habits_container {
    height: max-content;
    grid-area: habits;
}

.ui-btn {
    width: 5rem;
    height: 2rem;
    display: flex;
    border: none;
    border-radius: 8px;
}

.note-submit {
    margin-left: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    background: #f9f9fb;
    color: #7d7987;
}

.todo-btn {
    display: inline;
    margin-right: auto;
    background: $header_background;
    font-size: 16px;
}

.done {
    text-decoration: line-through;
    color: #7d7987;
}