@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  src: local("Nunito"), url("../../fonts/Nunito/Nunito-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'Nunito';
  font-weight: 300;
  src: local("Nunito"), url("../../fonts/Nunito/Nunito-Light.ttf") format("ttf");
}

@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  src: local("Nunito"), url("../../fonts/Nunito/Nunito-Bold.ttf") format("ttf");
}

@font-face {
  font-family: 'Playfair Display';
  src: local("Playfair Display"), url("../../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf") format("ttf");
}

#add-box__note-title {
  width: 10rem;
  margin-bottom: 5%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #f9f9fb;
  color: #f9f9fb;
}

#add-box__note-input {
  width: 15rem;
  height: 5rem;
  margin-bottom: 5%;
  background-color: transparent;
  border: 2px dashed #f9f9fb;
  border-radius: 8px;
  overflow-y: scroll;
  color: #f9f9fb;
}

.add-box__title {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 3rem;
  color: #f9f9fb;
}

.btn__link {
  margin: auto;
}

#notes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: notes;
  overflow: scroll;
}

#add-box__button {
  margin: auto 0 auto auto;
  background: #f5b618;
}

.modal {
  position: fixed;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.5rem;
  pointer-events: none;
  z-index: 9999;
  opacity: 0;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal:target {
  opacity: 1;
  top: 0;
  pointer-events: auto;
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 400px;
  margin: 10% auto;
  border: none;
  border-right: 1px solid rgba(255, 255, 255, 0.192);
  border-bottom: 1px solid rgba(255, 255, 255, 0.192);
  padding: 2rem;
  border-radius: 5px;
  background: #f5b618;
}

.note-item {
  color: #000000;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'ntitle ndelete' 'ntext ntext';
  font-size: 1rem;
  padding: 0.3rem;
}

.note-title,
.note-text {
  margin-bottom: 1%;
  color: #1f1f1f;
}

.note-title {
  font-weight: 700;
  color: #f5b618;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ntitle;
}

.note-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: ntext;
}

.note-delete {
  margin-left: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ndelete;
}

.habit_box {
  height: auto;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.habit-item {
  margin-right: 15px;
}

.todo_container__header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: header;
}

.todo_box {
  overflow: scroll;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cont;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-check {
  margin: auto 0;
}

.todo {
  margin: 5px auto;
  background: white;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.2rem;
  padding: 0.3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todo-name {
  width: 100px;
  border: none;
  border-bottom: 1px solid #7d7987;
}

.todo-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 10px;
}

.todo__form {
  -ms-flex-item-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: form;
}

* {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0;
  background-color: #fff0df;
  color: #1f1f1f;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #1f1f1f;
}

button,
a,
.delete-btn,
.note-delete {
  cursor: pointer;
}

.header_container {
  text-align: center;
  padding: 2em 0 2em 0;
  background-color: #f5b618;
}

.header_container__item {
  margin: 0 1% 0 1%;
  padding: 10px;
  background-color: #fffffe;
  border-radius: 10px;
}

#start {
  height: 200px;
  text-align: center;
  display: none;
  font-size: 3rem;
  color: #f5b618;
}

#dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50vw 50vw;
      grid-template-columns: 50vw 50vw;
  -ms-grid-rows: 60vh 40vh 10vh 10vh;
      grid-template-rows: 60vh 40vh 10vh 10vh;
      grid-template-areas: "todo notes" "deadlines deadlines" "habits habits";
}

@media (max-width: 800px) {
  #dashboard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 30vh 30vh 30fr 10fr;
        grid-template-rows: 30vh 30vh 30fr 10fr;
        grid-template-areas: "todo todo" "notes notes" "deadlines deadlines" "habits habits";
  }
}

.container {
  border-radius: 20px;
  margin: 1em;
  padding: 0 1em 0 1em;
  background-color: #fffffe;
}

.calendar_container {
  grid-area: calendar;
  padding: 1em;
}

#menu {
  display: inline;
}

.calendar_container__header {
  display: inline;
}

.tui-full-calendar-container {
  width: 80vw;
}

.tui-full-calendar-dayname-leftmargin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tui-full-calendar-dayname-container {
  height: 10vh;
}

.todo_container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: todo;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
      grid-template-areas: 'header form' 'header cont';
}

.notes_container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: notes;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'title btn' 'notes notes';
}

.grafic_container {
  grid-area: grafic;
}

.deadlines_container {
  height: 500px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: deadlines;
}

.habits_container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: habits;
}

.ui-btn {
  width: 5rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  border-radius: 8px;
}

.note-submit {
  margin-left: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  background: #f9f9fb;
  color: #7d7987;
}

.todo-btn {
  display: inline;
  margin-right: auto;
  background: #f5b618;
  font-size: 16px;
}

.done {
  text-decoration: line-through;
  color: #7d7987;
}
/*# sourceMappingURL=style.css.map */